{% extends 'base.html' %}

{% block title %}Profile | Twitter Sentiment Analysis{% endblock %}

{% block header %}{{ block.super }}{% endblock %}

{% block content %}

    <div id="sidebar">
        <ul class="tabs left">
            <li><a href="#tab1"><i class="fa fa-search-plus">&nbsp;</i>New Query</a></li>
            <li><a href="#tab2"><i class="fa fa-list-alt">&nbsp;</i>My Queries</a></li>
        </ul>

        <div id="tab1" class="tab-content">
            <form action="" onsubmit="return false">
                <div>
                    <div><label for="title">Title:</label></div>
                    <input class="full-width" type="text" name="title" id="title"/>
                </div>
                <div class="query-form-row">
                    <div><label for="body">Body:</label></div>
                    <textarea id="body" rows="4"></textarea>
                </div>
                <div class="query-form-row">
                    <div><label for="access">Access:</label></div>
                    <select id="access" class="full-width">
                        <option selected="selected" value="True">Public</option>
                        <option value="False">Private</option>
                    </select>
                </div>
                <div class="query-form-row">

                    <button class="full-width" id="btn-create-query">
                        <i class="fa fa-plus">&nbsp;</i>Create Query
                    </button>
                    {% csrf_token %}
                </div>
            </form>
            <div id="status-message" class="full-width"></div>
        </div>

        <div id="tab2" class="tab-content">
            <div id="queries">

            </div>
        </div>
    </div>



    <div id="dashboard">

    </div>
{% endblock %}