{% extends 'base.html' %}

{% block title %}Profile | Twitter Sentiment Analysis{% endblock %}

{% block header %}{{ block.super }}{% endblock %}

{% block content %}
    <div id="dashboard">
        <ul class="tabs center">
            <li><a href="#new_query"><i class="fa fa-search-plus">&nbsp;</i>New Query</a></li>
            <li><a href="#my_queries"><i class="fa fa-list-alt">&nbsp;</i>My Queries</a></li>
        </ul>

        <div id="new_query" class="tab-content form">
            <form action="" onsubmit="return false">
                <table>
                    {{ query_form.as_table }}
                    <tr>
                        <td colspan="2">
                            <button class="full-width square" id="btn-create-query">Create</button>
                            {% csrf_token %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" id="status-message">

                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <div id="my_queries" class="tab-content">

        </div>
    </div>

    <script type="text/javascript">
        $("#df").datepicker({
            inline: true
        });

        $("#dt").datepicker({
            inline: true
        });

    </script>
{% endblock %}