{% extends 'base.html' %}

{% block title %}Home | Twitter Sentiment Analysis{% endblock %}
{% block header %}{{ block.super }}{% endblock %}

{% block content %}
    <div class="col_4">
        Sed blandit pulvinar pretium. Phasellus accumsan, leo vel fermentum iaculis, ipsum dui commodo libero, eu volutpat erat purus nec arcu. Morbi tincidunt diam ac congue ultricies. Quisque ac diam diam. Nunc finibus pulvinar mollis. Nullam mollis lobortis tincidunt. Pellentesque ac consequat metus. Maecenas nulla dui, efficitur sit amet consectetur placerat, venenatis et justo. Nunc erat justo, blandit non sapien in, porta ultricies diam.
    </div>

    <div class="col_4">
        Sed blandit pulvinar pretium. Phasellus accumsan, leo vel fermentum iaculis, ipsum dui commodo libero, eu volutpat erat purus nec arcu. Morbi tincidunt diam ac congue ultricies. Quisque ac diam diam. Nunc finibus pulvinar mollis. Nullam mollis lobortis tincidunt. Pellentesque ac consequat metus. Maecenas nulla dui, efficitur sit amet consectetur placerat, venenatis et justo. Nunc erat justo, blandit non sapien in, porta ultricies diam.
    </div>

    <div class="col_4">
        Sed blandit pulvinar pretium. Phasellus accumsan, leo vel fermentum iaculis, ipsum dui commodo libero, eu volutpat erat purus nec arcu. Morbi tincidunt diam ac congue ultricies. Quisque ac diam diam. Nunc finibus pulvinar mollis. Nullam mollis lobortis tincidunt. Pellentesque ac consequat metus. Maecenas nulla dui, efficitur sit amet consectetur placerat, venenatis et justo. Nunc erat justo, blandit non sapien in, porta ultricies diam.
    </div>

    <div class="col_12">
        Sed iaculis, neque nec rutrum interdum, eros orci venenatis lacus, ut ultricies quam elit vel elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas mollis orci nec metus iaculis iaculis. Ut interdum mi elit, nec faucibus mauris hendrerit vel. Maecenas sollicitudin posuere ligula, a aliquam libero congue et. Duis et lectus ullamcorper, fringilla elit ac, volutpat erat. Aliquam sed felis augue. Maecenas ut elit et erat consectetur dictum sit amet ultricies dui. Fusce lobortis commodo ante, id dapibus nisi viverra sed. Fusce posuere suscipit purus vitae vestibulum. Sed at lectus elit. Phasellus egestas odio elit, in posuere ipsum egestas id. Cras dictum nisl sed lorem elementum semper. Nulla tempus mi vitae ex semper, eget vulputate massa vehicula.
    </div>

    <div class="col_3">
        Sed blandit pulvinar pretium. Phasellus accumsan, leo vel fermentum iaculis, ipsum dui commodo libero, eu volutpat erat purus nec arcu. Morbi tincidunt diam ac congue ultricies. Quisque ac diam diam. Nunc finibus pulvinar mollis. Nullam mollis lobortis tincidunt. Pellentesque ac consequat metus. Maecenas nulla dui, efficitur sit amet consectetur placerat, venenatis et justo. Nunc erat justo, blandit non sapien in, porta ultricies diam.
    </div>

    <div class="col_3">
        Sed blandit pulvinar pretium. Phasellus accumsan, leo vel fermentum iaculis, ipsum dui commodo libero, eu volutpat erat purus nec arcu. Morbi tincidunt diam ac congue ultricies. Quisque ac diam diam. Nunc finibus pulvinar mollis. Nullam mollis lobortis tincidunt. Pellentesque ac consequat metus. Maecenas nulla dui, efficitur sit amet consectetur placerat, venenatis et justo. Nunc erat justo, blandit non sapien in, porta ultricies diam.
    </div>

    <div class="col_3">
        Sed blandit pulvinar pretium. Phasellus accumsan, leo vel fermentum iaculis, ipsum dui commodo libero, eu volutpat erat purus nec arcu. Morbi tincidunt diam ac congue ultricies. Quisque ac diam diam. Nunc finibus pulvinar mollis. Nullam mollis lobortis tincidunt. Pellentesque ac consequat metus. Maecenas nulla dui, efficitur sit amet consectetur placerat, venenatis et justo. Nunc erat justo, blandit non sapien in, porta ultricies diam.
    </div>

    <div class="col_3">
        Sed blandit pulvinar pretium. Phasellus accumsan, leo vel fermentum iaculis, ipsum dui commodo libero, eu volutpat erat purus nec arcu. Morbi tincidunt diam ac congue ultricies. Quisque ac diam diam. Nunc finibus pulvinar mollis. Nullam mollis lobortis tincidunt. Pellentesque ac consequat metus. Maecenas nulla dui, efficitur sit amet consectetur placerat, venenatis et justo. Nunc erat justo, blandit non sapien in, porta ultricies diam.
    </div>

{% endblock %}